<%- include('partials/_header') %>
<%- include('partials/_modal') %>
  <section>
    <div class="container">
      <div class="row">
        <div class="products-menu col-sm-7 col-lg-9">
          <div class="row" id="productList">
            <% for(let item in product) { %>
              <div class="card">
                <p class="get-ids"><%= product[item].id %></p>
                <img src="<%= product[item].image %>" class="card-img-top" alt="...">
                <h3 class="card-title">
                  <%= product[item].name %>
                </h3>
                <p class="card-text">
                  <%= product[item].description %>
                </p>
                <div class="card-footer">
                  <p>
                    <%= product[item].price_cents / 100 %>
                  </p>
                  <a href="#"><i class="fas fa-cart-plus add-burg-event"></i></a>
                </div>
              </div>
              <% } %>
          </div>
        </div>
        <div class="order-details col-sm-5 col-lg-3">
          <div class="card">
            <div class="card-header">
              <h4>ORDER DETAILS</h4>
            </div>
            <div class="card-body">
              <table class="table cart-table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody class="table-items">
                  <!-- <tr>
                    <th scope="row">1</th>
                    <td>Burger</td>
                    <td>$ 7.0</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Burger Combo</td>
                    <td>$ 12.0</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Taco</td>
                    <td>$ 20.0</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="card-body">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <th scope="row">Sub Total:</th>
                    <td class="subtotal-line">$ 0.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Tax:</th>
                    <td class="taxtotal-line">$ 0.00</td>
                  </tr>
                  <tr>
                    <th scope="row">Total:</th>
                    <td class="grandtotal-line">$ 0.00</td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer">
                <form id="place-order-btn" action="/" method="POST"><button type="submit" class="btn btn-outline-primary placeOrder" id="place-order-btn">Place Order</button></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/_footer') %>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
  const menu = document.querySelector('#mobile-menu');
  const menuLinks = document.querySelector('.nav-menu');
  menu.addEventListener('click', function () {
    menu.classList.toggle('is-active');
    menuLinks.classList.toggle('active');
  })
</script>

</html>
