<%- include('partials/_header') %>
<%- include('partials/_modal') %>
  <section>

    <div class="container dashboard">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="true">Dashboard</a>
          <a class="nav-item nav-link" id="nav-messages-tab" data-toggle="tab" href="#nav-messages" role="tab" aria-controls="nav-messages" aria-selected="false">Messages</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
          <% for (let order in orders) { %>
            <div class="alert alert-warning" role="alert">
              <table class="table">
                <thead>

                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Order No: </th>
                    <td><%= orders[order].id%></td>
                  </tr>
                  <tr>
                    <th scope="row" width="100">Items:</th>
                    <td><% for (let item of productNames[orders[order].id]) { %>
                      <%= item.name %>
                    <% } %>
                  </td>
                  </tr>
                  <tr>
                    <td>Status :</td>
                    <td><%= orders[order].status%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% } %>
        </div>
        <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">all messages goes here (stretch)</div>
    </div>
  </section>
  <%- include('partials/_footer') %>

